<data-ng-include src="'Content/Angular/templates/_tools/loading.html'"></data-ng-include>
<data-ng-include src="'Content/Angular/templates/_tools/add-search-buttons.html'"></data-ng-include>
<br>

<div data-ng-show="translation.loaded && data" class="animated rollIn">

    <div class="form-inline">
        <div class="form-group">
            <div class="container">
                <div class="row col-sm-12">
                    <div class="form-group">
                        <label for="removeAllButton" style="display: block;">{{translation.RemoveAll || 'Remove All'}}</label>
                        <button type="button" class="form-control btn btn-danger" id="removeAllButton" data-ng-click="removeAll()">
                            <span class="glyphicon glyphicon-trash"></span> {{translation.RemoveAll || 'Remove All'}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sm-1">{{translation.When || 'When'}}</th>
                <th class="col-sm-1">{{translation.Host || 'Host'}}</th>
                <th class="col-sm-1">{{translation.Type || 'Type'}}</th>
                <th class="col-sm-1">{{translation.Message || 'Message'}}</th>
                <th class="col-sm-1">{{translation.Level || 'Level'}}</th>
                <th class="col-sm-3">{{translation.StackTrace || 'Stack Trace'}}</th>
                <th class="col-sm-3">{{translation.Variables || 'Variables'}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="val in data">
                <td class="align-center">{{::val.DateTimeStampText}}</td>
                <td class="align-center">{{::val.Host}}</td>
                <td class="align-center">{{::val.Type}}</td>
                <td class="align-center">{{::val.Message}}</td>
                <td class="align-center">{{::val.Level}}</td>
                <td class="align-center">{{::val.StackTrace}}</td>
                <td class="align-center">{{::val.Variables}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <data-ng-include src="'Content/Angular/templates/_tools/pagination.html'"></data-ng-include>
</div>