.myseen-button-mobile-about {
    margin-bottom:4px;
    white-space: normal;
  }

.myseen-modal-close {
    color: #ff0000;
    opacity: 1; 
}

.width-450 {
    width: 450px;
  }

body .modal-images {
    /* new custom width */
    width: 1000px;
    height: 1000px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: 0;
}

.gmap{
        margin: 20px auto;
        border: 1px dashed #C0C0C0;
        width: 100%;
 }
.page-size-gmap
{
        height: 600px;
        max-height: 600px; 
}
.page-scrolable
{
        overflow-y: scroll;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* TABLE ----------------------------------------------------------*/
table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}
table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
  vertical-align: inherit;
}
table th
{
  padding: 6px 5px;
  text-align: center;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
  vertical-align: inherit;
  font-weight: bold;
}

.align-center {
text-align: center;
}

.align-left {
text-align: left;
}
