<data-ng-include src="'Content/Angular/templates/_tools/loading.html'"></data-ng-include>
<data-ng-include src="'Content/Angular/templates/_tools/add-search-buttons.html'"></data-ng-include>
<br>

<div data-ng-show="translation.loaded && data" class="animated rollIn">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sm-1" data-ng-show="isMyData"></th>
                <th data-ng-class="{'col-sm-4': isMyData, 'col-sm-5': !isMyData}">{{translation.Name || 'Name'}}</th>
                <th class="col-sm-1">{{translation.Year || 'Year'}}</th>
                <th class="col-sm-2">{{translation.Authors || 'Authors'}}</th>
                <th class="col-sm-2">{{translation.DateRead || 'Date Read'}}</th>
                <th class="col-sm-1">{{translation.Genre || 'Genre'}}</th>
                <th class="col-sm-1">{{translation.Rating || 'Rating'}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="val in data">
                <td data-ng-show="isMyData">
                    <span class="pull-left">
                            <button class="btn btn-danger btn-xs" data-ng-click="deleteShareButtonClick($index)"> <span class=" glyphicon glyphicon-remove"></span></button>
                        </span>
                </td>
                <td class="align-center">{{::val.Name}}</td>
                <td class="align-center">{{::val.YearText}}</td>
                <td class="align-center">{{::val.Authors}}</td>
                <td class="align-center">{{::val.DateReadText}}</td>
                <td class="align-center">{{::val.GenreText}}</td>
                <td class="align-center">{{::val.RatingText}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <data-ng-include src="'Content/Angular/templates/_tools/pagination.html'"></data-ng-include>
</div>