<data-ng-include src="'Content/Angular/templates/_tools/loading.html'"></data-ng-include>
<data-ng-include src="'Content/Angular/templates/_tools/add-search-buttons.html'"></data-ng-include>
<br>

<div data-ng-show="translation.loaded && data" class="animated rollIn">
    <div class="form-inline">
        <div class="form-group">
            <div class="container">
                <div class="form-group">
                    <select class="form-control input-sm" data-ng-model="eventSelect" data-ng-change="selectedChange()">
                        <option data-ng-repeat="type in prepared.SelectedList" data-ng-selected="eventSelect == type.Value" value="{{type.Value}}">
                            {{type.Text}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sm-1" data-ng-show="isMyData"></th>
                <th data-ng-class="{'col-sm-2': isMyData, 'col-sm-3': !isMyData}">{{translation.Event || 'Event'}}</th>
                <th class="col-sm-2">{{translation.To || 'To'}}</th>
                <th class="col-sm-2">{{translation.When || 'When'}}</th>
                <th class="col-sm-1">{{translation.Day || 'Day'}}</th>
                <th>|</th>
                <th class="col-sm-2">{{translation.Last || 'Last'}}</th>
                <th class="col-sm-2">{{translation.When || 'When'}}</th>
                <th class="col-sm-1">{{translation.Day || 'Day'}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="val in data">
                <td data-ng-show="isMyData">
                    <span class="pull-left">
                            <button class="btn btn-danger btn-xs" data-ng-click="deleteShareButtonClick($index)"> <span class=" glyphicon glyphicon-remove"></span></button>
                        </span>
                </td>
                <td class="align-center">{{::val.Name}}</td>
                <td class="align-center">{{val.EstimatedTo}}</td>
                <td class="align-center">{{::val.DateToText}}</td>
                <td class="align-center">{{::val.DayOfWeekTo}}</td>
                <td class="align-center">|</td>
                <td class="align-center" data-ng-show="val.HaveHistory">{{val.EstimatedLast}}</td>
                <td class="align-center" data-ng-show="val.HaveHistory">{{::val.DateLastText}}</td>
                <td class="align-center" data-ng-show="val.HaveHistory">{{::val.DayOfWeekLast}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <data-ng-include src="'Content/Angular/templates/_tools/pagination.html'"></data-ng-include>
</div>