<!--Загрузка-->
<data-ng-include src="'Content/Angular/templates/_tools/loading.html'"></data-ng-include>
<!--Кнопка добавить и поиск-->
<data-ng-include src="'Content/Angular/templates/_tools/add-search-buttons.html'"></data-ng-include>
<br>

<div data-ng-show="translation.loaded && data" class="animated rollIn">
    <div class="panel panel-primary col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{translation.Tracks}}
                <span class="alert-info small">
                    <select class="input-sm" data-ng-model="year" data-ng-change="selectedChange()">
                        <option data-ng-repeat="val in data.YearsList" data-ng-selected="year == val.Value" value="{{val.Value}}">{{val.Text}}</option>
                    </select>
                </span>
            </div>
            <ul class="nav nav-tabs">
                <li data-ng-show="data.DataFoot.length > 0" data-ng-class="{'active': currentTab == 1}">
                    <a data-toggle="tab" data-target="menu1" data-ng-click="currentTab = 1">{{translation.Foot}}</a>
                </li>
                <li data-ng-show="data.DataBike.length > 0" data-ng-class="{'active': currentTab == 3}">
                    <a data-toggle="tab" data-target="menu2" data-ng-click="currentTab = 3">{{translation.Bike}}</a>
                </li>
                <li data-ng-show="data.DataCar.length > 0" data-ng-class="{'active': currentTab == 2}">
                    <a data-toggle="tab" data-target="menu3" data-ng-click="currentTab = 2">{{translation.Car}}</a>
                </li>
            </ul>
            <div class="tab-content page-size-gmap-roads page-scrolable">
                <div id="menu1" class="list-group tab-pane fade" data-ng-class="{'active in': currentTab == 1}">
                    <a class="list-group-item" ng-repeat="val in data.DataFoot" data-ng-click="showRoad($index)">
                        <h5 class="list-group-item-heading" data-ng-class="{'align-center': val.Id < 0}">
                            <span>{{::val.Name}}</span>
                            <span class="badge pull-right">{{::val.DateText}}</span>
                        </h5>
                        <h6 class="list-group-item-text align-center">{{translation.Distance}} :<span class="badge pull-right alert-info small">{{::val.DistanceText}}</span></h6>
                    </a>
                </div>
                <div id="menu2" class="list-group tab-pane fade" data-ng-class="{'active in': currentTab == 3}">
                    <a class="list-group-item" ng-repeat="val in data.DataBike" data-ng-click="showRoad($index)">
                        <h5 class="list-group-item-heading" data-ng-class="{'align-center': val.Id < 0}">
                            <span>{{::val.Name}}</span>
                            <span class="badge pull-right">{{::val.DateText}}</span>
                        </h5>
                        <h6 class="list-group-item-text align-center">{{translation.Distance}} :<span class="badge pull-right alert-info small">{{::val.DistanceText}}</span></h6>
                    </a>
                </div>
                <div id="menu3" class="list-group tab-pane fade" data-ng-class="{'active in': currentTab == 2}">
                    <a class="list-group-item" ng-repeat="val in data.DataCar" data-ng-click="showRoad($index)">
                        <h5 class="list-group-item-heading" data-ng-class="{'align-center': val.Id < 0}">
                            <span>{{::val.Name}}</span>
                            <span class="badge pull-right">{{::val.DateText}}</span>
                        </h5>
                        <h6 class="list-group-item-text align-center">{{translation.Distance}} :<span class="badge pull-right alert-info small">{{::val.DistanceText}}</span></h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">{{translation.Map}}</div>
            <div id="my_map" class="gmap page-size-gmap"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function($) {
        $(function() {
            initialGmap();
        });
    })(jQuery);
</script>