@model MySeenWeb.Models.Parts.TableButtons

<td class="align-center">
    <button type="button" class="btn btn-warning btn-edit btn-xs" id=@Model.Id><span class="glyphicon glyphicon-pencil"></span></button>
    @if (Model.Shared)
    {
        <button class="btn btn-xs btn-info btn-share" id=@Model.Id><span class="glyphicon glyphicon-share"></span></button>
    }
</td>