<!--Загрузка-->
<data-ng-include src="'Content/Angular/templates/tools/loading.html'"></data-ng-include>
<!--Кнопка добавить фильм и поиск-->
<data-ng-include src="'Content/Angular/templates/tools/add-search-buttons.html'"></data-ng-include>
<br>
<div data-ng-show="prepared.loaded && translation.loaded">
    <!--Таблица-->
    <div class="form-inline">
        <div class="form-group">
            <div class="container">
                <div class="form-group">
                    <select class="form-control input-sm" data-ng-model="complexSelect" data-ng-change="selectedChange()">
                        <option data-ng-repeat="type in prepared.SelectedList" data-ng-selected="complexSelect == type.Value" value="{{type.Value}}">
                            {{type.Text}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-1">{{translation.Complex}}</th>
                    <th class="col-sm-1">{{translation.Found}}</th>
                    <th class="col-sm-1">{{translation.DateFound}}</th>
                    <th class="col-sm-3">{{translation.Description}}</th>
                    <th class="col-sm-1">{{translation.DateEnd}}</th>
                    <th class="col-sm-1">{{translation.Version}}</th>
                    <th class="col-sm-3">{{translation.Description}}</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="val in data">
                    <td>
                        <!--Блок управляющих кнопок-->
                        <span class="pull-left">
                            <button class="btn btn-warning btn-xs" data-ng-click="modal.editButtonClick($index)"> <span class=" glyphicon glyphicon-pencil"></span></button>
                        </span>
                    </td>
                    <!--Одноразовая привязка-->
                    <td class="align-center">{{::val.ComplexText}}</td>
                    <td class="align-center">{{::val.UserName}}</td>
                    <td class="align-center">{{::val.DateFoundText}}</td>
                    <td class="align-center">{{::val.Text}}</td>
                    <td class="align-center">{{::val.DateEndText}}</td>
                    <td class="align-center">{{::val.VersionText}}</td>
                    <td class="align-center" data-ng-show="val.Ended">{{::val.TextEnd}}</td>
                    <td class="align-center" data-ng-show="!val.Ended">
                        <button type="button" class="btn btn-success btn-xs btn-block" data-ng-click="modal.editButtonClick($index,true)"><span class="glyphicon glyphicon-ok"></span> {{translation.Close}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Моя пагинация-->
    <data-ng-include src="'Content/Angular/templates/tools/pagination.html'"></data-ng-include>

    <!--Модальная на добавление и изменение полей-->
    <data-ng-include src="'Content/Angular/templates/tools/modal-add-edit.html'"></data-ng-include>

</div>