<!--Загрузка-->
<data-ng-include src="'Content/Angular/templates/tools/loading.html'"></data-ng-include>

<div data-ng-show="translation.loaded">
    <h2>{{translation.Manage}}</h2>

    <div>
        <h4>{{translation.ChangeYourAccountSettings}}</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>{{translation.Password}}:</dt>
            <dd> ПОЗЖЕ </dd>
            <dt>{{translation.ExternalLogins}}:</dt>
            <dd> ПОЗЖЕ </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>{{translation.SelectLanguage}}:</dt>
            <dd>
                <select class="input-sm" data-ng-model="data.Lang" data-ng-change="languageChange()">
                    <option data-ng-repeat="type in data.LangList" data-ng-selected="data.Lang == type.Value" value="{{type.Value}}">
                        {{type.Text}}
                    </option>
                </select>
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>{{translation.RecordPerPage}}:</dt>
            <dd>
                <select class="input-sm" data-ng-model="data.Rpp" data-ng-change="rppChange()">
                    <option data-ng-repeat="type in data.RppList" data-ng-selected="data.Rpp == type.Value" value="{{type.Value}}">
                        {{type.Text}}
                    </option>
                </select>
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>{{translation.MarkersOnRoads}}:</dt>
            <dd>
                <select class="input-sm" data-ng-model="data.Markers" data-ng-change="markersChange()">
                    <option data-ng-repeat="type in data.MarkersOnRoadsList" data-ng-selected="data.Markers == type.Value" value="{{type.Value}}">
                        {{type.Text}}
                    </option>
                </select>
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>{{translation.VkServices}}:</dt>
            <dd>
                <select class="input-sm" data-ng-model="data.GoogleServiceEnabledInt" data-ng-change="googleServicesChange()">
                    <option data-ng-repeat="type in data.GoogleServiceEnabledList" data-ng-selected="data.GoogleServiceEnabledInt == type.Value" value="{{type.Value}}">
                        {{type.Text}}
                    </option>
                </select>
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>{{translation.GoogleServices}}:</dt>
            <dd>
                <select class="input-sm" data-ng-model="data.VkServiceEnabledInt" data-ng-change="vkServicesChange()">
                    <option data-ng-repeat="type in data.VkServiceEnabledList" data-ng-selected="data.VkServiceEnabledInt == type.Value" value="{{type.Value}}">
                        {{type.Text}}
                    </option>
                </select>
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>{{translation.FacebookServices}}:</dt>
            <dd>
                <select class="input-sm" data-ng-model="data.FacebookServiceEnabledInt" data-ng-change="facebookServicesChange()">
                    <option data-ng-repeat="type in data.FacebookServiceEnabledList" data-ng-selected="data.FacebookServiceEnabledInt == type.Value" value="{{type.Value}}">
                        {{type.Text}}
                    </option>
                </select>
            </dd>
        </dl>
    </div>

    <footer class="row">
        <div class="text-center">
            <p class="text-muted small">{{translation.SiteVersion}} {{translation.Web}} / {{translation.LibraryVersion}} {{translation.LibVersionNum}}</p>
        </div>
    </footer>
</div>