<!--Загрузка-->
<data-ng-include src="'Content/Angular/templates/_tools/loading.html'"></data-ng-include>
<!--Кнопка добавить и поиск-->
<data-ng-include src="'Content/Angular/templates/_tools/add-search-buttons.html'"></data-ng-include>
<br>

<div data-ng-show="translation.loaded && prepared.loaded" class="animated rollIn row">
    <div class="panel panel-primary col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{translation.Coordinates}}
                <span class="pull-right">(<span id="mapStatisticPoints">0</span>)</span>
            </div>
            <div id="panelCoordinates" class="page-size-gmap-coordinates page-scrolable">

            </div>
        </div>
    </div>
    <div class="panel panel-primary col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading align-center">
                <span class="pull-left">{{translation.Distance}}:<span id="mapStatisticDistance">0</span> {{translation.Km}}</span>
                {{translation.Map}}
                <div id="my_map" class="gmap page-size-gmap"></div>
            </div>
        </div>
    </div>
</div>

<!--Модальная на добавление и изменение полей-->
<data-ng-include src="'Content/Angular/templates/_tools/modal-add-edit.html'"></data-ng-include>

<script type="text/javascript">
    (function ($) {
        $(function() {
            initialGmapEditor();

            var $panel = $("#panelCoordinates");

            $panel.off('click', '.btn-danger');
            $panel.on('click', '.btn-danger', function () {
                var $item = $(this);
                var id = $item.attr('id');
                //console.log(" id=", id);
                $(".track-id-" + id).remove();
                removeMarker(id);
            });
        });
    })(jQuery);
</script>
