<div class="animated rollIn">

    <div id="vk_subscribe" align="center"></div>
    <script type="text/javascript">
        VK.Widgets.Subscribe("vk_subscribe", {}, 4334790);
    </script>


    <!--Google-->
    <g:follow href="https://plus.google.com/+%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9%D0%92%D0%BE%D1%80%D0%BE%D0%BD%D0%BA%D0%BE%D0%B2" rel="{author}"></g:follow>
    <script src="https://apis.google.com/js/platform.js" async defer>
        {
            lang: 'ru'
        }
    </script>



    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_horizontal_follow_toolbox"></div>

    <br>
    Donate Me:
    <br>
    <a class="btn btn-large btn-primary" href="https://money.yandex.ru/to/410012828818657">Yandex Money</a>
    <br>
    <a class="btn btn-large btn-primary" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G7ESM2YVMVARJ">Paypal</a>


    <br>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="G7ESM2YVMVARJ">
        <input type="image" src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

</div>