<!--Загрузка-->
<data-ng-include src="'Content/Angular/templates/_tools/loading.html'"></data-ng-include>

<div class="form-inline" data-ng-show="translation.loaded">
    <div class="form-group">
        <div class="container">
            <div class="row col-sm-12">
                <div class="form-group">
                    <label for="memes" style="display: block;"></label>
                    <button type="button" class="form-control btn btn-warning" id="memes" data-ui-sref="portal/memes">
                        <span class="glyphicon glyphicon-picture"></span> {{translation.Memes || 'Memes'}}
                    </button>
                </div>
                <div class="form-group">
                    <label for="chld" style="display: block;"></label>
                    <button type="button" class="form-control btn btn-info" id="chld" data-ui-sref="portal/childCalculator">
                        <span class="fa fa-users"></span> {{translation.ChildSexCalculator || 'Child Sex Calculator'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
