<!--Загрузка-->
<data-ng-include src="'Content/Angular/templates/tools/loading.html'"></data-ng-include>
<!--Кнопка добавить и поиск-->
<data-ng-include src="'Content/Angular/templates/tools/add-search-buttons.html'"></data-ng-include>
<br>

<div data-ng-show="prepared.loaded && translation.loaded">



    <!--Модальная на добавление и изменение полей-->
    <data-ng-include src="'Content/Angular/templates/tools/modal-add-edit.html'"></data-ng-include>

    <!--Модальная на добавление и изменение доступа-->
    <data-ng-include src="'Content/Angular/templates/tools/modal-share.html'"></data-ng-include>
</div>