<div class="text-center pagination-div" style="display: none;">
    <ul class="pagination pagination-sm"></ul>
</div>

<script language="javascript" type="text/javascript">

    function showPagination(model) {
        var pagination = $('.pagination');
        var $divPagination = $('.pagination-div');
        pagination.html('');

        if (!(model.IsFirstPage === true && model.IsLastPage === true))
        {
            $divPagination.show();

            if (model.IsFirstPage === true) {
                pagination.append("<li class=\"disabled\"><a href=\"#\">←</a></li>");
            } else {
                pagination.append("<li class=\"pagination-page\" id=\"" + (model.CurentPage - 1) + "\"><a href=\"#\">←</a></li>");
            }

            var last = 0;
            $.each(model.List, function(index,i) {

                if ((last + 1) !== i) {
                    pagination.append("<li class=\"disabled\"><a href=\"#\">...</a></li>");
                }
                if (i === model.CurentPage) {
                    pagination.append("<li class=\"active\"><a href=\"#\">" + i + "</a></li>");
                } else {
                    pagination.append("<li class=\"pagination-page\" id=\"" + i + "\"><a href=\"#\">" + i + "</a></li>");
                }
                last = i;
            });

            if (model.IsLastPage === true) {
                pagination.append("<li class=\"disabled\"><a href=\"#\">→</a></li>");
            } else {
                pagination.append("<li class=\"pagination-page\" id=\"" + (model.CurentPage + 1) + "\"><a href=\"#\">→</a></li>");
            }
        }
    }

    (function ($) {
        $(function() {
    
            var $divPagination = $('.pagination');

            $divPagination.off('click', '.pagination-page');
            $divPagination.on('click', '.pagination-page', function () {
                var $item = $(this);
                var id = $item.attr('id');
                
                console.log(" press =", id);

                var $quickSearch = $('#quickSearch');
                var data = { page: id, search: $quickSearch.val() };
                window.getPage(data); //Запрос на сервер

                return false;
            });
        });
    })(jQuery);
</script>