@model MySeenWeb.Models.Tools.PaginationViewModel

@if (!(Model.IsFirstPage && Model.IsLastPage))
{
    <ul class="pagination pagination-sm">
        @{int last = 0;}
        @if (Model.IsFirstPage)
        {
            <li class="disabled"><a href="#">←</a></li>
        }
        else
        {
            var routes = new RouteValueDictionary(Model.RouteValues) {{"page", (Model.CurentPage - 1).ToString()}};
            <li>@Html.ActionLink("←", Model.Page, Model.Controller, routeValues: new RouteValueDictionary(routes), htmlAttributes: new Dictionary<string, object>())</li>
        }
        @foreach (int i in Model.List)
        {
            if ((last + 1) != i)
            {
                <li class="disabled"><a href="#">...</a></li>
            }
            if (i == Model.CurentPage)
            {
                var routes = new RouteValueDictionary(Model.RouteValues) {{"page", (i).ToString()}};
                <li class="active">@Html.ActionLink(i.ToString(), Model.Page, Model.Controller, routeValues: new RouteValueDictionary(routes), htmlAttributes: new Dictionary<string, object>())</li>
            }
            else
            {
                var routes = new RouteValueDictionary(Model.RouteValues) {{"page", (i).ToString()}};
                <li>@Html.ActionLink(i.ToString(), Model.Page, Model.Controller, routeValues: new RouteValueDictionary(routes), htmlAttributes: new Dictionary<string, object>())</li>
            }
            last = i;
        }
        @if (Model.IsLastPage)
        {
            <li class="disabled"><a href="#">→</a></li>
        }
        else
        {
            var routes = new RouteValueDictionary(Model.RouteValues) {{"page", (Model.CurentPage - 1).ToString()}};
            <li>@Html.ActionLink("→", Model.Page, Model.Controller, routeValues: new RouteValueDictionary(routes), htmlAttributes: new Dictionary<string, object>())</li>
        }
    </ul>
}