<div class="text-center pagination-more-div" style="display: none;">
    <ul class="pagination pagination-more pagination-sm"></ul>
</div>

<div class="text-center pagination-div" style="display: none;">
    <ul class="pagination pagination-main pagination-sm"></ul>
</div>

<input type="text" class="form-control" id="pagination-curent-page" style="display: none;">

<script language="javascript" type="text/javascript">

    function showPagination(model) {
        var pagination = $('.pagination-main');
        var $divPagination = $('.pagination-div');
        var $divPaginationCp = $('#pagination-curent-page');
        pagination.html('');
        $divPaginationCp.val(model.CurentPage);

        var $divPaginationMore = $('.pagination-more-div');
        var paginationMore = $('.pagination-more');
        paginationMore.html('');
        $divPaginationMore.hide();

        if (!(model.IsFirstPage === true && model.IsLastPage === true))
        {
            $divPagination.show();
            if (model.IsLastPage !== true) $divPaginationMore.show();

            if (model.IsFirstPage === true) {
                pagination.append("<li class=\"disabled\"><a href=\"#\">←</a></li>");
            } else {
                pagination.append("<li class=\"pagination-page\" id=\"" + (model.CurentPage - 1) + "\"><a href=\"#\">←</a></li>");
            }

            var last = 0;

            $.each(model.List, function(index,i) {

                if ((last + 1) !== i) {
                    pagination.append("<li class=\"disabled\"><a href=\"#\">...</a></li>");
                }
                if (i === model.CurentPage) {
                    pagination.append("<li class=\"active\"><a href=\"#\">" + i + "</a></li>");
                } else {
                    pagination.append("<li class=\"pagination-page\" id=\"" + i + "\"><a href=\"#\">" + i + "</a></li>");
                }
                last = i;
            });

            if (model.IsLastPage === true) {
                pagination.append("<li class=\"disabled\"><a href=\"#\">→</a></li>");
            } else {
                pagination.append("<li class=\"pagination-page\" id=\"" + (model.CurentPage + 1) + "\"><a href=\"#\">→</a></li>");
            }

            paginationMore.append("<li class=\"pagination-page-more\" id=\"" + (model.CurentPage + 1) + "\"><a href=\"#\">@Resource.Load</a></li>");
        }
    }

    (function ($) {
        $(function() {
    
            var $divPagination = $('.pagination');

            $divPagination.off('click', '.pagination-page');
            $divPagination.on('click', '.pagination-page', function () {
                var $item = $(this);
                var id = $item.attr('id');

                var data = { page: id, search: $('#quickSearch').val() };
                window.getPage(data); //Запрос на сервер

                return false;
            });

            $divPagination.off('click', '.pagination-page-more');
            $divPagination.on('click', '.pagination-page-more', function () {
                var $item = $(this);
                var id = $item.attr('id');

                var data = { page: id, search: $('#quickSearch').val() };
                window.getPage(data, true); //Запрос на сервер с добавлением в конец новых данных

                return false;
            });
        });
    })(jQuery);
</script>