<div class="sunburst">
    <div id="skills">
        <div id="skillmap">
            <div class="skills-wrapper">
                <div class="skills-sunburst"></div>
                <div class="skills-chart">
                    <div id="skills-chart-breadcrumb"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // Hack to make this example display correctly in an iframe on bl.ocks.org
        d3.select(self.frameElement).style("height", "700px");
    </script>
</div>


<br>
Надо ещё подумать чтоб отрисовтаь временные рамки курсов и технологий какие
<br>
пока хз через что делать, таблица норм со свертыванием
<br>
но и графы на всю страницу релативные тоже ничо, если найти с возможностью свертывания, пока надо набить данных и смотреть что выходит


<br>
крутецкое колесо
<br>
https://www.jasondavies.com/coffee-wheel/
или
http://bl.ocks.org/kerryrodden/477c1bfb081b783f80ad
это ещё и с графиком по датам
http://bl.ocks.org/wizicer/f662a0b04425fc0f7489
чот не заработал


<br>
дерево в виде таблицы со сворачиванием
<br>
http://bl.ocks.org/mbostock/1093025
<br>