<!--Загрузка-->
<data-ng-include src="'Content/Angular/templates/tools/loading.html'"></data-ng-include>

<div data-ng-show="prepared.loaded && translation.loaded">
    <!--Таблица-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-4">{{translation.Name}}</th>
                    <th class="col-sm-1">{{translation.Year}}</th>
                    <th class="col-sm-2">{{translation.Authors}}</th>
                    <th class="col-sm-2">{{translation.DateRead}}</th>
                    <th class="col-sm-1">{{translation.Genre}}</th>
                    <th class="col-sm-1">{{translation.Rating}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="val in data">
                    <td>
                    </td>
                    <!--Одноразовая привязка-->
                    <td class="align-center">{{::val.Name}}</td>
                    <td class="align-center">{{::val.YearText}}</td>
                    <td class="align-center">{{::val.Authors}}</td>
                    <td class="align-center">{{::val.DateReadText}}</td>
                    <td class="align-center">{{::val.GenreText}}</td>
                    <td class="align-center">{{::val.RatingText}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Моя пагинация-->
    <data-ng-include src="'Content/Angular/templates/tools/pagination.html'"></data-ng-include>

</div>
